@import "tailwindcss";

body {
    margin: 0;
    min-height: 100vh;
    background-color: rgb(248 250 252);
    color: rgb(30 41 59);
    font-family:
        Inter,
        system-ui,
        -apple-system,
        Segoe UI,
        sans-serif;
}

#root {
    min-height: 100vh;
}
